/* styles/CircleAnimation.module.css */
@keyframes moveInCircle {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateY(100%);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
  
}

.circle {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  position: absolute;
  animation: moveInCircle 4s linear infinite; /* Adjust the animation duration as needed */
}

.moveUp {
  animation-name: moveInCircle;
    animation-direction: reverse;
}

.moveRight {
  animation-name: moveInCircle;
  animation-direction: reverse;
}

.moveDown {
  animation-name: moveInCircle;
  animation-direction: reverse;
}

.moveLeft {
  animation-name: moveInCircle;
  animation-direction: reverse;
}
